@import "~normalize.css/normalize.css";

body {
    font-family: "Helvetica Neue", "Lucida Grande", sans-serif;
    margin: 20px;
}

#shape-list {
    width: 260px;

    ol {
        list-style: none;
        margin: 0;
        padding: 0;

        p {
            margin-top: 0;
        }
        pre {
            margin-top: 5px;
            font-size: 12px;
        }
    }
}

#shape-form {
    .row {
        margin-bottom: 10px;
    }

    input, select, button {
        display: block;
        padding: 5px;
    }

    label {
        font-size: 14px;
        color: #444;
        display: block;
        padding-bottom: 5px;
    }

    button {
        margin-top: 20px;
    }
}

#scene {
    border: 1px solid #F3F3F3;
    position: absolute;
    left: 300px;
    top: 20px;
}
